  
  <div class="container principal col-md-11 center">
	  <div class="row col-md-12">
	    <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias tempore dicta repellendus asperiores necessitatibus, praesentium similique recusandae laborum ratione fugiat atque quo esse ullam ad modi adipisci, aliquam iste, rerum.</div>
	    <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi commodi deserunt et nulla numquam accusamus, nemo eius assumenda sint maxime itaque quas eveniet dignissimos debitis harum praesentium quia est tempore.</div>
	    <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum provident magnam dolorem voluptates, quam, illo quibusdam, saepe vel inventore laudantium eligendi ipsum facilis adipisci, quia ducimus nulla animi alias veniam!</div>
	    <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellendus sunt neque id perspiciatis laboriosam, amet natus nemo animi eveniet sed, nulla ea deserunt aut incidunt debitis, mollitia cupiditate saepe!</div>
	  </div>
  </div>
